@(user: Form[User])(implicit messages: Messages, request: RequestHeader)

@import helper._
@import views.bootstrap.Implicits._

@main("Welcome to Homeland") {
  <div class="sessions-make">
    <div class="content">
      @form(controllers.auth.routes.Registrations.create(), 'novalidate -> "novalidate") {
        @inputText(user("email"), '_label -> "auth.email")
        @inputPassword(user("password"), '_label -> "auth.password")
        <br />
        <button type="submit" class="btn btn-primary login-button">@messages("auth.register")</button>
      }
    </div>
  </div>
}